$borderColour: #5C5F66;

.dice {
  margin: 16px 0;

  &-black {
    border-color: $borderColour;
    border-width: 3px;
  }

  &-combinations {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
  }

  &-combination {
    border: 1px dashed transparent;
    display: flex;
    font-size: 0.66rem;
    justify-content: space-around;
    padding: 0.5rem;

    &-result {
      font-family: Monaco, monospace;
      font-size: 2rem;
      line-height: 1em;
    }

    &-symbol {
      height: 2rem;
      width: 2rem;
    }

    &.is-selected {
      border-color: $borderColour;
    }

    &.is-semi-transparent {
      opacity: 0.3;
    }
  }
}